---
import { tw } from '@/lib/tw'

interface Props extends astroHTML.JSX.AnchorHTMLAttributes
{
  prefetch?: 'hover' | 'tap' | 'viewport' | 'load'
  cursor?: 'pointer' | 'default' | 'auto' | string
  href: string
}

const
{
  prefetch,
  href,
  rel = 'noopener noreferrer',
  cursor = 'pointer',
  class: className,
  ...props
} = Astro.props

const isLocal = href?.startsWith('/')
---

<a
  target={isLocal ? "_self" : "_blank"}
  href={href}
  rel={rel}
  class={tw(className)}
  data-astro-prefetch={prefetch}
  {...props}
>
  <slot />
</a>
