---
import type { CTA } from '@/types/global'
import HeroCta from './hero-cta.astro'

interface Props
{
  CTA: CTA[]
}

const
{
  CTA
} = Astro.props
---

<div class="flex gap-x-2 justify-center items-center">
  {CTA.map((cta) => (
    <HeroCta {...cta} />
  ))}
</div>
