---
import Accent from '@/modules/common/components/Accent.astro'
import type { FormatterRule } from '@/types/global'
import Formatter from '@/helpers/Formatter.astro'

const
{
  title,
  subtitle,
} = Astro.props

const accentRule: FormatterRule =
{
  match: "**",
  key: "accent",
  component: Accent,
}
---

<div class="text-center mt-4 mb-5">
  <h1 class="text-4xl font-bold mb-2">{title}</h1>
  <h2 class="text-xl lg:text-2xl max-w-[600px] mx-auto font-semibold">
    <Formatter
      data={subtitle}
      custom={[accentRule]}
    />
  </h2>
</div>
